<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="LJS on Nexus">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="a.jre.javase" version="0.0.0"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.milestones.unzip/com/sap/ldi/jre-package-metadata/1.6/jre-package-metadata-1.6.zip-unzip/"/>
<unit id="com.sap.ldi.projectportal.orbit.feature.feature.group" version="0.0.0"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.snapshots.unzip/com/sap/ldi/projectportal/orbit/com.sap.ldi.projectportal.orbit.updatesite/0.1.7/com.sap.ldi.projectportal.orbit.updatesite-0.1.7-assembly.zip-unzip/"/>
<unit id="com.sap.core.js.confman.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.core.js.deployer.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.core.js.logging.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.core.js.monitoring.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.core.supportability.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.js.ach.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.js.log4j.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.js.rfc66.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.js.startup.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.js.tc.logging.feature.feature.group" version="0.0.0"/>
<unit id="com.sap.js.tomcat.feature.feature.group" version="0.0.0"/>
<unit id="feature.equinox.3.6.feature.group" version="0.0.0"/>
<unit id="feature.osgi.webcontainer.feature.group" version="0.0.0"/>
<unit id="feature.javaee5.api.feature.group" version="0.0.0"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.milestones.unzip/com/sap/core/distro/jpaas/com.sap.js.distro.jpaas/0.1.6/com.sap.js.distro.jpaas-0.1.6-assembly.zip-unzip/composite/"/>
<unit id="org.junit4" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.eclipse.jdt.junit4.runtime" version="0.0.0"/>
<unit id="org.eclipse.jdt.junit.runtime" version="0.0.0"/>
<unit id="org.junit" version="0.0.0"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.milestones.unzip/org/eclipse/download/eclipse/org.eclipse.jdt.source/3.6.1/org.eclipse.jdt.source-3.6.1.zip-unzip/"/>
<unit id="org.eclipse.equinox.security" version="0.0.0"/>
<unit id="org.eclipse.equinox.security.win32.x86" version="0.0.0"/>
<unit id="org.eclipse.equinox.preferences" version="0.0.0"/>
<unit id="org.eclipse.equinox.registry" version="0.0.0"/>
<unit id="org.eclipse.core.jobs" version="0.0.0"/>
<unit id="org.eclipse.core.runtime" version="0.0.0"/>
<unit id="org.eclipse.core.runtime.compatibility.auth" version="0.0.0"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.milestones.unzip/org/eclipse/download/eclipse/org.eclipse.platform/3.6.1/org.eclipse.platform-3.6.1.zip-unzip/"/>
<unit id="com.meterware.httpunit" version="0.0.0"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.milestones.unzip/com/sap/ldi/testingtools/com.sap.ldi.testingtools.updatesite/0.0.4/com.sap.ldi.testingtools.updatesite-0.0.4-assembly.zip-unzip/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
</environment>
</target>
