<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Skalli Target Platform">
<locations>

<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<!-- dependencies to Equinox/Eclipse platform -->
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7/"/>
</location>

<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<!-- Get Eclipse Link from officially released state  -->
<unit id="org.eclipse.persistence.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>

<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<!-- dependencies to Eclipse Orbit project -->
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.el" version="0.0.0"/>
<unit id="javax.mail" version="0.0.0"/>
<unit id="javax.persistence" version="0.0.0"/>
<unit id="javax.servlet" version="0.0.0"/>
<unit id="javax.servlet.jsp" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="org.apache.derby" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="1.3.0.v201101211617"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.velocity" version="1.5.0.v200905192330"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.easymock" version="2.4.0.v20090202-0900"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository"/>
</location>

<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<!-- Jetty Runtime to run it locally during development -->
<unit id="org.eclipse.jetty.sdk.feature.group" version="7.3.1.201103121747"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-rt-3.7milestones/S-3.7.M6-201103121818/"/>
</location>

<location path="${project_loc:org.eclipse.skalli.target}/target-platform-3rdparty" type="Directory">
<!-- Gemini JPA components for which no P2 site is available yet -->
<unit id="osgi.enterprise" version="4.2.0"/>
<unit id="org.eclipse.gemini.jpa.weaving" version="1.0.0.RC1"/>
<unit id="org.eclipse.gemini.jpa" version="1.0.0.RC1"/>
<unit id="org.eclipse.gemini.dbaccess.derby" version="1.0.0.M1-incubation"/>
<!-- Third party components which are not yet in Orbit and need to be downloaded manually -->
<unit id="org.restlet" version="2.0.0.RC4"/>
<unit id="org.restlet.ext.servlet" version="2.0.0.RC4"/>
<unit id="org.restlet.ext.xstream" version="2.0.0.RC4"/>
<unit id="org.codehaus.jettison.jettison" version="1.2.0"/>
<unit id="com.springsource.com.thoughtworks.xstream" version="1.3.1"/>
<unit id="com.springsource.org.custommonkey.xmlunit" version="1.2.0"/>
<unit id="com.springsource.org.xmlpull" version="1.1.4.c"/>
<unit id="com.vaadin" version="6.4.0"/>
<unit id="org.eclipse.skalli.org.apache.lucene.lucene-core" version="3.0.2"/>
<unit id="org.eclipse.skalli.org.apache.lucene.lucene-queries" version="3.0.2"/>
<unit id="org.eclipse.skalli.org.apache.lucene.lucene-highlighter" version="3.0.2"/>
</location>

<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<!-- for gerrit (SSH) -->
<unit id="com.sap.ldi.projectportal.orbit.feature.feature.group" version="0.0.0"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.snapshots.unzip/com/sap/ldi/projectportal/orbit/com.sap.ldi.projectportal.orbit.updatesite/0.1.7/com.sap.ldi.projectportal.orbit.updatesite-0.1.7-assembly.zip-unzip/"/>
</location>

</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
</environment>
</target>
