.prjedt {
}

.prjedt-layout {
}

.prjedt-buttons {
	padding-top:15px;
	padding-bottom:15px;
}

.prjedt-buttons .v-button{
	padding-right:10px;
}

.v-label-prjedt-errorLabel {
  color:          #cc0000;
  text-align:     left;
  font-weight:    bold;
}

.prjedt-form-default {
}

.prjedt-form-default .v-formlayout-captioncell {
	vertical-align:top;
}

.prjedt-form-default .v-caption {
	padding-top:4px;
}

.v-panel-nocaption-prjedt {
	border: 0px;
}

.v-panel-deco-prjedt {
	border: 0px;
	background-color: #000000;
	height: 0px;
}

.tplsel {	
}

.tplsel-layout {
}

.tplsel-buttons {
	padding-top:15px;
	padding-bottom:15px;
}

.tplsel-buttons .v-button{
	padding-right:10px;
}

.v-panel-nocaption-tplsel {
	border: 0px;
}

.v-panel-deco-tplsel {
	border: 0px;
	background-color: #000000;
	height: 0px;
}