.pplsrch-layout {
	padding:	0px;
}

.pplsrch-layout-search {
	padding:	0px;
}

.pplsrch-dosearch {
	width: 16px;
	height: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;		
	background: transparent url(icons/people/find.png) no-repeat;
	overflow: hidden;
	border: none;
	outline: none;
}

